.tasks{
  margin-top: 30px;
}

.tasks li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tasks li .edit{
  color: #51c5de;
  margin-right: 10px;
}

.tasks li .delete{
  color: #f04c64;
}

.tasks li .edit,
.tasks li .delete{
  cursor: pointer;
}

.tasks li:hover{
  background-color: #51c5de;
  transition: all 0.6s;
}

.tasks li:hover .edit,
.tasks li:hover .delete{
  color: #000;
  transition: all 0.6s;
}

.tasks li span{
  display: flex;
  align-items: center;
}
