*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: #fff;
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1{
  font-size: 40px;
  text-align: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}

.form input[type='text']{
  height: 40px;
  width: 80%;
  font-size: 20px;
  padding: 10px;
}

.form button[type='submit']{
  border: none;
  height: 40px;
  width: 40px;
  background-color: #f04c64;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assignments{
  margin-top: 30px;
}

.assignments li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.assignments li .edit{
  color: #51c5de;
  margin-right: 10px;
}

.assignments li .delete{
  color: #f04c64;
}

.assignments li .edit,
.assignments li .delete{
  cursor: pointer;
}

.assignments li:hover{
  background-color: #51c5de;
  transition: all 0.6s;
}

.assignments li:hover .edit,
.assignments li:hover .delete{
  color: #000;
  transition: all 0.6s;
}

.assignments li span{
  display: flex;
  align-items: center;
}
